.dropdown{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    overflow: hidden;
    h1{
        margin: 0;
    }
    .dropdownTitle{
        z-index: 2;
        background-color: #FF6060;
        padding: 0 15px 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        color:white;
        .fa-solid{
            height: fit-content;
        }
    }
    p{
        // z-index: 1;
        transition: all .5s ease-in-out;
        height: 0px;
        // opacity: 0;
        // position: absolute; 
        &.revealed{
            // position: relative;
            height: auto;
            // opacity: 1;
        }
    }
}


