.dropdown{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    overflow: hidden;
    h1{
        margin: 0;
    }
    .dropdownTitle{
        z-index: 2;
        background-color: #FF6060;
        padding: 0 15px 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        color:white;
        .fa-solid{
            height: fit-content;
        }
    }
    p{
        margin: 0;
    }
    div {
    transition: max-height 1s ease, transform 1s ease, padding 1s ease;
    overflow: hidden; /* Hide content that goes outside the height */
        &.hidden {
            height: 0; /* Collapse the height */
            transform: translateY(-100%);
            padding: 0 20px 0 20px;
        }

        &.reveal {
            height: fit-content; /* A large enough value to fit your content */
            transform: translateY(0);
            padding: 20px;
            background-color: #F6F6F673;
        }
    }

    
}


