

.header{
    margin: 0 100px 0 100px;
    display: flex;
    justify-content: space-between;
    .logo{
      height: 68px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }  
    }        
    a{
        text-decoration: none;
        color: black;
    }
    .headerPages{
        display: flex;
        justify-content: center;
        gap: 50px;
        .active {
            text-decoration: underline
        }
    }
}
