.carroussel{
    width: 100%;
    height: 415px;
    overflow: hidden;
    border-radius: 25px;
    position: relative;
    .carrousselControl{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        button{
            all: unset;
            cursor: pointer;
            margin: 20px;
            i{
                color:white;
                padding: 10px;
                font-size: 4em;
            }
        }
        .numbers{
            height: 100%;
            display: flex;
            align-items: end;
            p{
            color: white;
            margin: 20px;
            }
        }
    }
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;  
    }
}

@media (max-width: 376px) {
    .carroussel{
        height: 255px;
        border-radius: 10px;
        .carrousselControl{
            button{
                i{
                    font-size: 2em;
                }
            }
            .numbers{
                display: none;
            }
        }
        img{
        }
        p{
            display: none;
        }
    }
}